<a href="https://colab.research.google.com/github/seoyujiin/esaa_yb/blob/main/5%EC%A3%BC%EC%B0%A8%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#### **12-1. datetime 오브젝트**

* 날짜와 시간을 처리하는 등의 다양한 기능을 제공하는 파이썬 라이브러리
  * 날짜를 처리하는 date 오브젝트
  * 시간을 처리하는 time 오브젝트
  * 날짜와 시간을 모두 처리하는 datetime 오브젝트

**datetime 오브젝트 사용하기**

In [ ]:
from datetime import datetime

now1 = datetime.now()
print(now1)

2023-04-06 11:59:31.361228

In [ ]:
now2 = datetime.today()
print(now2)

2023-04-06 11:59:33.332105

In [ ]:
# 시간 직접 입력
t1 = datetime.now()
t2 = datetime(1970, 1, 1)
t3 = datetime(1970, 12, 12, 13, 24, 34)

print(t1)
print(t2)
print(t3)

2023-04-06 11:59:34.583579
1970-01-01 00:00:00
1970-12-12 13:24:34

In [ ]:
# 시간 계산
diff1 = t1 - t2

print(diff1)
print(type(diff1))

19453 days, 11:59:34.583579
<class 'datetime.timedelta'>

In [ ]:
diff2 = t2 - t1

print(diff2)
print(type(diff2))

-19454 days, 12:00:25.416421
<class 'datetime.timedelta'>

**테슬라 주식 데이터로 시간 계산하기**

In [ ]:
pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.9/dist-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (2022.7.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (1.26.15)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)

In [8]:
# 데이터 불러오기
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

# get_data_quandl 메서드에 TSLA 문자열 전달하여 tesla에 데이터프라임 저장
# tesla = pdr.get_data_quandl('TSLA', api_key='ghZfxPiWMzTc8rzQiJVq')

# to_csv 메서드 사용하여 tesla에 저장된 데이터프레임을 파일로 저장
# tesla.to_csv('/content/drive/MyDrive/esaa/data/tesla_stock_quandl.csv')

tesla = pd.read_csv('/content/drive/MyDrive/esaa/data/tesla_stock_quandl.csv')

In [9]:
# Date 열은 문자열로 저장되어있음을 확인
print(tesla.head())

         Date    Open    High     Low   Close    Volume  ExDividend  \
0  2018-03-27  304.00  304.27  277.18  279.18  13696168           0
1  2018-03-26  307.34  307.59  291.36  304.18   8324639           0
2  2018-03-23  311.25  311.61  300.45  301.54   6600538           0
3  2018-03-22  313.89  318.82  308.18  309.10   4914307           0
4  2018-03-21  310.25  322.44  310.19  316.53   5927881           0

   SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume
0           1   304.00   304.27  277.18    279.18   13696168
1           1   307.34   307.59  291.36    304.18    8324639
2           1   311.25   311.61  300.45    301.54    6600538
3           1   313.89   318.82  308.18    309.10    4914307
4           1   310.25   322.44  310.19    316.53    5927881

In [10]:
# Date 열을 Datetime 형으로 변환 - read_csv 메서드로 데이터 집합을 불러올 때 parse_dates 인자에 Date 열 전달
# tesla = pd.read_csv('/content/drive/MyDrive/esaa/data/tesla_stock_quandl.csv', parse_dates=[0])
tesla['Date'] = pd.to_datetime(tesla['Date'])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1949 non-null   datetime64[ns]
 1   Open        1949 non-null   float64
 2   High        1949 non-null   float64
 3   Low         1949 non-null   float64
 4   Close       1949 non-null   float64
 5   Volume      1949 non-null   int64
 6   ExDividend  1949 non-null   int64
 7   SplitRatio  1949 non-null   int64
 8   AdjOpen     1949 non-null   float64
 9   AdjHigh     1949 non-null   float64
 10  AdjLow      1949 non-null   float64
 11  AdjClose    1949 non-null   float64
 12  AdjVolume   1949 non-null   int64
dtypes: datetime64[ns](1), float64(8), int64(4)
memory usage: 198.1 KB
None

In [11]:
# dt 접근자 사용 가능, 불린 추출로 2010년 6월의 데이터만 추출
print(tesla.loc[(tesla.Date.dt.year == 2010) & (tesla.Date.dt.month == 6)])

           Date   Open     High    Low  Close    Volume  ExDividend  \
1947 2010-06-30  25.79  30.4192  23.30  23.83  17187100           0
1948 2010-06-29  19.00  25.0000  17.54  23.89  18766300           0

      SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume
1947           1    25.79  30.4192   23.30     23.83   17187100
1948           1    19.00  25.0000   17.54     23.89   18766300

**datetime 오브젝트와 인덱스 - DatetimeIndex**

datetime 오브젝트를 데이터프레임의 인덱스로 설정하면 원하는 시간의 데이터 바로 추출 가능

In [12]:
# Date 열을 tesla 데이터프레임의 인덱스로 지정
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2010-07-13', '2010-07-12', '2010-07-09', '2010-07-08',
               '2010-07-07', '2010-07-06', '2010-07-02', '2010-07-01',
               '2010-06-30', '2010-06-29'],
              dtype='datetime64[ns]', name='Date', length=1949, freq=None)

In [13]:
# 2015년 데이터 추출
print(tesla['2015'].iloc[:5, :5])

                 Date    Open     High       Low   Close
Date
2015-12-31 2015-12-31  238.51  243.450  238.3700  240.01
2015-12-30 2015-12-30  236.60  243.634  235.6707  238.09
2015-12-29 2015-12-29  230.06  237.720  229.5470  237.19
2015-12-28 2015-12-28  231.49  231.980  225.5400  228.95
2015-12-24 2015-12-24  230.56  231.880  228.2800  230.57

<ipython-input-13-d5252d9bcafd>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2015'].iloc[:5, :5])

In [14]:
# 2010년 6월 데이터 추출
print(tesla['2010-06'].iloc[:, :5])

                 Date   Open     High    Low  Close
Date
2010-06-30 2010-06-30  25.79  30.4192  23.30  23.83
2010-06-29 2010-06-29  19.00  25.0000  17.54  23.89

<ipython-input-14-ac975641dc83>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2010-06'].iloc[:, :5])

**시간 간격과 인덱스 - TimedeltaIndex**

시간 간격을 인덱스로 지정하여 데이터 추출

In [15]:
# 시간 - 시간의 최솟값 = 시간 간격
tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close    Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168           0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639           0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538           0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307           0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881           0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose  AdjVolume  \
Date
2018-03-27           1   304.00   304.27  277.18    279.18   13696168
2018-03-26           1   307.34   307.59  291.36    304.18    8324639
2018-03-23           1   311.25   311.61  300.45    301.54    6600538
2018-03-22           1   313.89   318.82  308.18    309.10    4914307
2018-03-21           1   310.25   322.44  310.19    316.53    5927881

            ref_date
Date
2018-03-27 2828 days
2018-03-26 2827 days
2018-03-23 2824 days
2018-03-22 2823 days
2018-03-21 2822 days

In [16]:
# ref_date로 인덱스 설정
tesla.index = tesla['ref_date']
print(tesla.iloc[:5, :5])

                Date    Open    High     Low   Close
ref_date
2828 days 2018-03-27  304.00  304.27  277.18  279.18
2827 days 2018-03-26  307.34  307.59  291.36  304.18
2824 days 2018-03-23  311.25  311.61  300.45  301.54
2823 days 2018-03-22  313.89  318.82  308.18  309.10
2822 days 2018-03-21  310.25  322.44  310.19  316.53

In [17]:
print(tesla['5 days':].iloc[:5, :5])

               Date   Open     High    Low  Close
ref_date
3 days   2010-07-02  23.00  23.1000  18.71  19.20
2 days   2010-07-01  25.00  25.9200  20.27  21.96
1 days   2010-06-30  25.79  30.4192  23.30  23.83
0 days   2010-06-29  19.00  25.0000  17.54  23.89

**시간 범위와 인덱스**

특정일에 누락된 데이터도 포함시켜 데이터를 살펴보려고 한다면 임의로 시간 범위를 생성하여 인덱스로 지정해야 한다

In [18]:
ebola = pd.read_csv('/content/drive/MyDrive/esaa/data/country_timeseries.csv', parse_dates=[0])
print(ebola.iloc[:5,:5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

In [19]:
print(ebola.iloc[:-5, :5])  # 누락 확인 가능

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0   2015-01-05  289        2776.0            NaN            10030.0
1   2015-01-04  288        2775.0            NaN             9780.0
2   2015-01-03  287        2769.0         8166.0             9722.0
3   2015-01-02  286           NaN         8157.0                NaN
4   2014-12-31  284        2730.0         8115.0             9633.0
..         ...  ...           ...            ...                ...
112 2014-04-04   13         143.0           18.0                2.0
113 2014-04-01   10         127.0            8.0                2.0
114 2014-03-31    9         122.0            8.0                2.0
115 2014-03-29    7         112.0            7.0                NaN
116 2014-03-28    6         112.0            3.0                2.0

[117 rows x 5 columns]

In [20]:
# 2014년 12월 31일부터 2015년 1월 5일 사이의 시간 인덱스 생성
head_range = pd.date_range(start='2014-12-31', end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [21]:
ebola_5 = ebola.head()
ebola_5.index = ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5, :5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0

**시간 범위의 주기 설정하기**

시간 범위를 인덱스로 지정하면 DatetimeIndex 자료형이 만들어진다 DatetimeIndex에는 freq 속성이 포함되어 있다 freq 속성값을 지정하면 시간 간격을 조절하여 DatetimeIndex를 만들 수 있다

freq 속성값으로 사용할 수 있는 시간 주기
* B: 평일만 포함
* C: 사용자가 정의한 평일만 포함
* D: 달력 일자 단위
* W: 주간 단위
* M: 월 마지막 날만 포함
* SM: 15일과 월 마지막 날만 포함
* BM: M 주기의 값이 휴일이면 제외하고 평일만 포함
* CBM: BM에 사용자 정의 평일을 적용
* MS: 월 시작일만 포함
* SMS: 월 시작일과 15일만 포함
* BMS: MS 주기의 값이 휴일이면 제외하고 평일만 포함
* CBMS: BMS에 사용자 정의 평일을 적용
* Q: 3, 6, 9, 12월 분기 마지막 날만 포함
* BQ: 3, 6, 9, 12월 분기 마지막 날이 휴일이면 제외하고 평일만 포함
* QS: 3, 6, 9, 12월 분기 시작일만 포함
* BQS: 3, 6, 9, 12월 분기 시작일이 휴일이면 제외하고 평일만 포함
* A: 년의 마지막 날만 포함
* BA: 년의 마지막 날이 휴일이면 제외하고 평일만 포함
* AS: 년의 시작일만 포함
* BAS: 년의 시작일이 휴일이면 제외하고 평일만 포함
* BH: 평일을 시간 단위로 포함(09:00 ~ 16:00)
* H: 시간 단위로 포함(00:00 ~ 00:00)
* T: 분 단위 포함
* S: 초 단위 포함
* L: 밀리초 단위 포함
* U: 마이크로초 단위포함
* N: 나노초 단위 포함